[submodule "Celestial/vendor/spdlog"]
	path = Celestial/vendor/spdlog
	url = https://github.com/gabime/spdlog/tree/v2.x
[submodule "Celestial/vendor/GLFW"]
	path = Celestial/vendor/GLFW
	url = https://github.com/glfw/glfw/tree/3.3-stable
[submodule "Celestial/vendor/ImGUI"]
	path = Celestial/vendor/ImGUI
	url = https://github.com/SMarsdenDev/imgui
[submodule "Celestial/Celestial/vendor/glm"]
	path = Celestial/Celestial/vendor/glm
	url = https://github.com/SMarsdenDev/glm
[submodule "Celestial/vendor/GLFWgit"]
	url = https://github.com/glfw/glfw/tree/3.3-stable
